#twitter , #btn__zuri ,
#books, #book__python,
#pitch , #book__design{
    background-color: rgb(207, 203, 203);
    border: none;
    width: 100%;
    margin-top: 2%;
    color: black;
}

Button a{
    text-decoration: none;
    color: black;
}
#slack , #github{
    height: 30px;
    margin-top: 4%;
    
}
#slack{
    margin-right: 10px;
}
.logos{
    text-align: center;
}