.footer{
    margin-top: 5%;
     display: flex; 
    flex-wrap: wrap;
    /* height: 5vh;  */
    /* background-color: red; */
   /* justify-content: space-between; */
}

#ingressive{
  height: 40px;
  
}

.text-muted{
  padding-top: 25px;
}



